body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: block;
    border: 1px solid #ccc;
    width: 400px;
    text-align: center;
}

section {
    width: calc( 50% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    display: inline-block;
    margin-bottom: 50px;

    &.__isBlock {
        .box {
            display: block;
        }
    }
    &.__isInline {
        .box {
            display: inline;
        }
    }
    &.__isFlex {
        .box {
            display: flex;
        }
    }
}