body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.box {
  display: block;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center; }

section {
  width: 50%;
  float: left;
  display: block; }
