body {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.box {
  display: block;
  border: 1px solid #ccc;
  width: 400px;
  text-align: center; }

section {
  width: calc( 50% - 100px);
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  display: inline-block;
  margin-bottom: 50px; }
  section.__isBlock .box {
    display: block; }
  section.__isInline .box {
    display: inline; }
  section.__isFlex .box {
    display: -ms-flexbox;
    display: flex; }
